<div class="h-full flex flex-col overflow-hidden"
     data-controller="react-mount"
     data-component="SettingsApp"
     data-props='<%= {
       hubId: Current.hub.id.to_s,
       configMetadata: @config_metadata,
       templates: @templates,
       agentTemplates: @agent_templates,
       hubName: Current.hub.name,
       hubIdentifier: Current.hub.identifier,
       hubSettingsPath: hub_settings_path(Current.hub),
       hubPath: hub_path(Current.hub),
     }.to_json %>'>
</div>
