<div data-controller="react-mount"
     data-component="PairingPage"
     data-props='<%= { hubId: Current.hub.id.to_s, redirectUrl: hub_path(Current.hub) }.to_json %>'
     id="react-pairing-page">
</div>
